@import url('layout/menu.css');
@import url('layout/header.css');
@import url('layout/content.css');

body {
    font-family: GoogleSans-Regular;
    font-size: 13px;
    margin: 0;
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../res/font/GoogleSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../res/font/GoogleSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../res/font/GoogleSans-Italic.otf') format('opentype');
}

.panel-left {
    width: 200px;
    height: 100vh;
}

.panel-right {
    position: absolute;
    left: 200px;
    top: 0;
    width: calc(100% - 200px);
    height: 100vh;
}

.panel-left .logo {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    padding-left: 20px;
}

.logo .expend-icon {
    width: 30px;
    height: 30px;
    background-image: url('../res/img/toggle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.logo .logo-page {
    margin-left: 10px;
    width: 100%;
    background-image: url('../res/img/cukcuk-logo.png');
    height: 34px;
    background-size: contain;
    background-repeat: no-repeat;
}

