
.content {
    position: absolute;
    top: 61px;
    left: 221px;
    width: calc(100% - 253px);
    border: 1px solid #e5e5e5e5;
    padding: 16px 16px 0px 16px;
    height: 100%;
}
.content .header-content{
   padding:8px 0px 16px 10px;
   background-color:#ffffff;
   display: flex;
   align-items: center;
}
    .content .header-content .title {
        font-size: 20px;
        font-weight: bold;
    }

    .content .header-content .feature{
        position: absolute;
        right: 16px;
        display: flex;
    }

.content .text{
    margin-left: 8px;
}

    .content .filter-bar {
        display: flex;
        margin-left: 10px;
    }


