.header {
    position: absolute;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    height: 60px;
    align-items: center;
    border: 1px solid #e5e5e5e5;
    display: flex;
}

.header .restaurant-info{
    padding: 16px;
    font-size: 16px;
    font-style: normal;
}
    
.header .restaurant-info select{
        height:20px;
        width: 180px;
        border: none;
        font-size: 14px;
        outline: none;
        cursor: pointer;
    }
.header .restaurant-info option{
    cursor: pointer;
}

.account-info {
    position: absolute;
    right: 16px;
    display: flex;
    width: 200px;
    height: 24px;
    align-items: center;
}
.account-avatar {
    width: 26px;
    height: 26px;
    background-image: url('/content/icon/avatar-default.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.account-name {
    margin-left: 10px;
    font-size: 14px;
    
}

.account-icon_option {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url('/content/icon/option.png');
    background-size: contain;
    background-repeat: no-repeat;
}
