@import url('/css/layout/header.css');
@import url('/css/layout/content.css');
@import url('/css/layout/nvbar.css');
@import url('/css/layout/menu.css');
@import url('component/button.css');
@import url('component/combobox.css');
@import url('component/input.css');
@import url('component/table.css');
@import url('component/dialog.css');

body {
    margin: 0;
    font-family: GoogleSans-Regular;
    font-size: 13px;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../content/font/GoogleSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../content/font/GoogleSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../content/font/GoogleSans-Italic.otf') format('opentype');
}

.panel-left {
    width: 200px;
    height: 100vh;
    border-right: 1px solid #bfbfbf;
}

.panel-right {
    width: calc(100% - 200px);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 200px;
}

.panel-left .logo {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center; /*căn giữa khi dùng display: flex*/
}

.logo .expend-icon {
    width: 30px;
    height: 30px;
    background-image: url(../../content/img/toggle.png);
    background-size: cover;
    background-position: center;
    margin-left: 16px;
    background-repeat: no-repeat;
}

.logo .logo-page {
    width: 100%;
    height: 34px;
    background-image: url(../../content/img/cukcuk-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
}

