.menu{
    width:100%;
    height:auto;
}
.menu .menu__item {
        display: flex;
        align-items: center;
        height: 40px;
        cursor: pointer;
        padding-left: 20px;
}

    .menu .menu__item:hover {
        background-color: #e5e5e5;
    }

    
.menu .menu__item .menu__item--icon {
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
.icon-dashboard {
    background-image: url('../../content/icon/dashboard.png');
}
.icon-report {
    background-image: url('../../content/icon/report.png');
}
.icon-employee {
    background-image: url('../../content/icon/dic-employee.png');
}
.icon-setting {
    background-image: url('../../content/icon/setting.png');
}
.menu .menu__item .menu__item--text {
    margin-left: 10px;
}