@import url('layout/header.css');
@import url('layout/content.css');
@import url('layout/nvbar.css');
@import url('layout/menu.css');
@import url('components/dialog.css');
@import url('components/button.css');
@import url('components/icon.css');
@import url('components/input.css');
body {
    margin:0px;
    font-family: 'GoogleSans-Regular';
    font-size: 13px;
    font-style: normal;
}
@font-face {
    font-family: 'GoogleSans-Black';
    src: url('../content/font/GoogleSans-Black.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../content/font/GoogleSans-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../content/font/GoogleSans-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../content/font/GoogleSans-Italic.otf') format('opentype');
}

.panel-left {
    float: left;
    width: 200px;
    height: 100vh;
    border-right: 1px solid #bbbbbb;
}

.panel-right {
    position:absolute;
    top:0;
    left: 200px;
    width : calc(100% - 200px);
    height: 100vh;
}

.panel-left .logo{
    display:flex;
    align-items:center;
    justify-content:center;
    height:60px;
    width:100%;
}
/*Panel-left icon*/
.logo .expend-icon {
    padding-left: 24px;
    width: 30px;
    height: 30px;
    background-image: url('../content/img/toggle.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.logo .logo-page {
    margin-left: 10px;
    width: 100%;
    height: 30px;
    background-image: url('../content/img/cukcuk-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

