.container__right--bottom {
	margin: 16px;
}

.conten__title, .conten__search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
}

.conten__title .conten__title--add {
	display: flex;
	align-items: center;
	background-color: #019160;
	border: none;
	border-radius: 5px;
	padding: 8px 10px 8px 16px;
	color: #fff;
	outline: none;
}

.conten__title .conten__title--add img {
	margin-right: 8px;
}

.conten__search {
	position: relative;
}

.conten__search-left {
	display: flex;
	align-items: center;
}

.conten__search-left .group-input #department, #location {
	margin: 0;
	padding-right: 20px;
}

.conten__search .conten__search--search {
	padding: 10px 10px 10px 32px;
	border: 1px solid #e9ebee;
	border-radius: 5px;
	outline: none;
	width: 300px;
	height: 36px;
}

.conten__search .conten__title--refresh {
	height: 32px;
	padding: 4px 10px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	border-radius: 4px;
}

.conten__search .icon-search {
	position: absolute;
	top: 10px;
	left: 10px;
}

.conten__table {
	margin-top: 16px;
	height: 400px;
	overflow-x: auto;
	position: relative;
}

.conten__table table {
	width: 100%;
	border-collapse: collapse;
}

.conten__table table th {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #fff;
}

.conten__table table th, td {
	text-align: left;
	border-bottom: 1px solid #e9ebee;
	padding: 10px 26px 10px 6px;
	height: 48px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.conten__table table td button {
	padding: 2px 6px;
	border-radius: 3px;
	outline: none;
	background-color: #fff;
}

.conten__table table td input {
	outline: none;
	border: none;
}

.conten__table table td button:first-child {
	border: 1px solid #00bd09;
	margin-right: 4px;
}

.conten__table table td button:last-child {
	border: 1px solid red;
}

.conten__table table tbody tr:nth-child(odd) {
	background-color: #f7f7f7
}

.conten__table table tbody tr:hover {
	background-color: #e9ebee;
	transition: 0.4s;
	cursor: pointer;
}

.conten__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 16px 0;
	height: 56px;
}

.conten__bottom--list span:last-child {
	display: none;
}

.conten__bottom--page-list {
	list-style-type: none;
	display: flex;
}

.conten__bottom--page-list .conten__bottom--page-item {
	margin: 0 16px;
	background-color: #e5e5e5;
	width: 26px;
	height: 26px;
	border-radius: 13px;
	text-align: center;
	line-height: 26px;
	position: relative;
}

.conten__bottom--page-list .conten__bottom--page-item::before {
	position: absolute;
	left: -1px;
	top: -1px;
	content: "";
	width: 28px;
	height: 28px;
	border-radius: 14px;
	background-color: #cecece;
	z-index: -1;
}

.conten__bottom--page-list .conten__bottom--page-item:hover {
	background-color: #019160;
	color: #fff;
	transition: 0.4s;
}