.container__left {
	border-right: 1px solid #e9ebee;
}

.container__left--top {
	display: flex;
	align-items: center;
	height: 60px;
	padding-right: 20px;
}

.container__left--top .container__left--logo img {
	object-fit: contain;
	width: 100%;
}

.container__left--list {
	list-style-type: none;
	padding: 0%;
}

.container__left--item a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #000;
	height: 44px;
	width: 100%;
}

.container__left--item a:hover {
	background-color: #e9ebee;
	transition: 0.4s;
}
