.header {
    position: absolute;
    top: 0px;
    left: 200px;
    height: 48px;
    width: calc(100% - 200px);
    align-items: center;
    box-sizing: border-box; /*tăng padding hay border không làm thay đổi size*/
    background-color: #ffffff;
    border-bottom: 1px solid #E5E5E5;
    font-size: 15px;

}
    .header .header-left {
        float: left;
        height: 48px;
        padding-left: 16px;
        display: flex;
        align-items: center;
    }
        .header .header-left .header-left-text {
            margin-right: 10px;
        }
    .header .header-right {
            float: right;
            display: flex;
            align-items: center;
            height: 48px;
        }
        .header .header-right .header-right-avt {
            height: 34px;
            width: 34px;
            margin-right: 16px;
            background-image: url('../../content/icon/avatar-default.png');
            background-size: cover;

        }
        .header .header-right .header-right-text{
            margin-right: 16px;

        }
        .header .header-right .header-right-icon {
            height: 24px;
            width: 24px;
            margin-right: 16px;
            background-image: url('../../content/icon/option.png');
            background-repeat: no-repeat;
        }




@media screen and (max-width: 800px){
    .header-right{
        
    }

}