.menu {
    width: 100%;
    padding-left: 20px;
}

.menu__item {
    display: flex;
    align-items: center;
    background-color: aqua;
    height: 40px;
}

.menu .menu__item .menu__item--icon {
    width: 24px;
    height: 24px;
    background-color: red;
}

.menu .menu__item .menu__item--text {
    margin-left: 10px;
}
