.button {
    align-items: center;
    justify-content: center;
    height: 40px;
    font-family: GoogleSans-Regular;
    color: #ffffff;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    display: flex;
    background-color: #019160;
    border:none;
}

.button:hover{
    background-color:#2FBE8E;
}

.button:focus{
    background-color:#01B075;
}


@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../content/font/GoogleSans-Regular.otf') format('opentype');
}

.button-refresh {
    border: 1px solid #bbbbbb;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    background-image: url('/content/icon/refresh.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}