.input-search {
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-position: 10px 10px;
    background-image: url('../../content/icon/search.png');
    background-repeat: no-repeat;
    padding: 12px 20px 12px 30px;
}
