.dialog{

}

    .dialog .modal__opacity{
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color: #000000;
        opacity:.2;
    }

    .dialog .dialog__content {
        position: fixed;
        width: 600px;
        height: 300px;
        background-color: #ffffff;
        top: calc(50% - 150px);
        left: calc(50% - 300px);
    }