.content-form1{
    background-image: url('../../content/icon/search.png');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 16px 10px;
    height: 40px;
    box-sizing: border-box;
    padding: 16px;
    padding-left: 40px;
    border: 1px solid #D2D2D2;
    border-radius: 4%;
    width: 350px;
}
    .content-form1:focus {
        border: 1px solid #2FBE8E;
        outline: none;
    }


